h1 {
    color: red;
    font-family: sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 900;

}

h2 {
    color: #0000ff;
    font-size: 20px;
    font-weight: 900;

}

h3 {
    font-size: 16px;
    color: teal;
    font-weight: 900;
}

p {
    color: black
}
header {
    font-weight: 900;
}

a {
    color: #8A2BE2;
    text-decoration: none;
    
}

header {
    width: 100vw;
    height: 45vh;
    background-image: url(../opdracht_4.1/img/games.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.headerparagraph {
    color: white;
}

.headerh1 {
    color: green;
}

.center {
    width: 50vw;
    height: 50vh;
}

article {
    border: 10px solid black;
    border-radius: 50px;
    border-width: 5px 5px 5px 10px;
}
