
.flex-container {
    background: grey;
    display: flex;
    width: 1200px;
    height: 1200px;
    justify-content: space-between;

}

.item1 {
    width: 200px;
    height: 200px;
    background: blue;
    color: antiquewhite;
}

.item2 {
    width: 200px;
    height: 200px;
    background: black;
    color: antiquewhite;
}

.item3 {
    width: 200px;
    height: 200px;
    background: red;
    color: antiquewhite;
}

.item4 {
    width: 200px;
    height: 200px;
    background: green;
    color: antiquewhite;
}